.div_container{
    width: 1300px;
    margin: 0px auto;
}
.div_img{
    width: 260px;
    height: 600px;
    float: left;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
}
.span_img{
    width: 260px;
    height: 600px;
    position: absolute;
    opacity:0.4; 
    filter: alpha(opacity=40);
}
.span_img:hover{
    opacity:1; 
    filter: alpha(opacity=100);
    z-index: 100;
    width: 400px;
    height: 600px;
    transition:width 400ms;
}
.div_img:hover{
    cursor: pointer;
}
.img1{
    background-image: url(../images/special/1.jpeg);
}
.img2{
    background-image: url(../images/special/2.jpg);
}
.img3{
    background-image: url(../images/special/3.jpg);
}
.img4{
    background-image: url(../images/special/4.jpg);
}
.img5{
    background-image: url(../images/special/5.jpeg);
}